{% extends 'base.html' %}

{% block editblog %}
{% if user.is_authenticated %}
<div class="blog_content_main_div">
    <div class="blog_subdiv newblogform">
        <form method="POST" action="">
            {% csrf_token %}
            {{form.as_p}}
            <input type="submit" value="Edit" class="submit_btn">
        </form>
    </div>
</div>
{% else %}
<div class="blog_content_main_div">
    <div class="blog_subdiv newblogform ">
        <h3 class="deletewarning">
            <a href="{% url 'login' %}">Log in</a> to edit blog.
        </h3>
    </div>
</div>
{% endif %}
{% endblock editblog %}




